// bower:scss
// endbower
$font-family-sans-serif: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei",Arial,sans-serif !default;
$font-family-serif: Georgia,"Times New Roman",Times,serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace: Menlo,Monaco,Consolas,"Courier New",monospace !default;
body {
    font-family: $font-family-sans-serif;
    background-color: #F6F5F7;
}

.all-wrap {
    position: relative;
    .jp-jplayer {
        top: 300px;
        width: 612px;
        position: absolute;
        left: 50%;
        margin-left: -306px;
        background-color: transparent;
    }
    .intro {
      position: absolute;
      top: 140px;
      width: 100%;
      text-align: center;
      transition: all 0.5s;
      color: #333333;
      opacity: 0;
      &.in {
        opacity: 1;
      }
      &.out {
        opacity: 0;
      }
      h1 {
        font-size: 36px;
        font-weight: normal;
      }
      p {
        font-size: 24px;
        color: #897676;
      }
      &.intro-1 {
        top: 100px;
        h1 {
          color: #2bb09d;
        }
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          width: 760px;
          text-align: center;
          margin: 0 auto;
          li {
            position: relative;
            display: inline-block;
            width: 32%;
            text-align: center;
            img {
              vertical-align: top;
            }
            span {
              color: #7f7f7f;
              font-size: 24px;
              margin-left: 10px;
            }
          }
        }
      }
      &.intro-2 {
        top: 100px;
        h1 {
          color: #b02f9c;
        }
        p {
          color: #897676;
        }
      }
      &.intro-3 {
        h1 {
          color: #b03535;
        }
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          width: 760px;
          text-align: center;
          margin: 0 auto;
          li {
            position: relative;
            display: inline-block;
            width: 32%;
            text-align: center;
            img {
              vertical-align: top;
            }
            span {
              color: #897676;
              font-size: 24px;
              margin-left: 10px;
            }
          }
        }
      }
      &.intro-4 {
        top: 100px;
        h1 {
          color: #936100;
        }
      }
      &.intro-5 {
        top: 90px;
        h1 {
          color: #558c29;
        }
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          width: 620px;
          text-align: center;
          margin: 0 auto;
          li {
            position: relative;
            display: inline-block;
            width: 24%;
            text-align: center;
            span {
              margin-top: 10px;
              display: block;
              color: #897676;
            }
          }
        }
      }
    }
    .fade {
      opacity: 0;
      &.in {
        opacity: 1;
      }
      &.out {
        opacity: 0;
      }
    }
    .slide-from-left {
      transform: translate3d(-1920px, 0, 0);
      &.in {
        transform: translate3d(0, 0, 0);
      }
    }
    .slide-from-right {
      transform: translate3d(1920px, 0, 0);
      &.in {
        transform: translate3d(0, 0, 0);
      }
    }
}
